@import url("fira/fira.css");

body {
  margin: 0;
  font-family: "Fira Sans";
  font-size: 12px;
}

#topHalf {
  height: 50vh;
  width: 100vw;
  overflow-y: auto;
  border-bottom: 1px solid #ddd;
  font-family: "Fira Mono";
  font-feature-settings: "liga" 0;
}

.CodeMirror {
  font-family: inherit;
}

#microVizContainer {
  padding: 0;
  width: 100vw;
}

#macroVizScroller {
  overflow: auto;
  height: 100%;
}

#bottomHalf {
  height: 50vh;
  position: relative;
  overflow: hidden;
}

#legend {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border: 1px solid black;
}

parseError {
  display: block;
  white-space: pre-wrap;
  color: maroon;
  background: yellow;
  padding: 0 4px;
  padding: 4px;
  opacity: 1;
  max-height: 100pt;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* errors */

#errorDiv {
  color: hsl(0, 50%, 70%);
  padding: 5px;
  border-bottom: 1px solid #ddd;
  background: hsl(0, 0%, 95%);
  cursor: row-resize;
}

/*#errorDiv:empty {
  padding: 0px !important;
}*/

/* highlighting */

.highlight-def {
  background-color: hsl(219, 85%, 94%) !important;
}

.highlight-ref {
  background-color: hsl(219, 79%, 88%) !important;
}

.highlight-def,
.highlight-ref {
  box-shadow: 1px 1px 0px 0px #aaa;
}

macroVizNode.highlight-cursorOnDecl > label {
  background-color: hsl(219, 72%, 94%) !important; /*hue 57*/
}

macroVizNode.highlight-cursorOnSend > label {
  background-color: hsl(219, 72%, 88%) !important;
}

macroVizNode.highlight-focused > label {
  background-color: hsl(219, 90%, 70%) !important;
}

#legend {
  list-style-type: none;
  padding: 10px;
  margin: 0px;
  margin-bottom: 10px;
  background-color: hsl(0, 0%, 100%);
}

#legend > .definition > .swatch {
  color: hsl(219, 72%, 94%) ;
}
#legend > .call > .swatch {
  color: hsl(219, 72%, 88%) ;
}
#legend > .focused > .swatch {
  color: hsl(219, 90%, 70%) ;
}

resultWidget {
  display: block;
  z-index: 2000;
  border-radius: 2pt;
  padding: 0 4pt;
  margin-top: 4px;
  background: hsl(217, 96%, 95%);
  box-shadow: 1px 1px 4px hsl(0, 0%, 30%);
}
