body {
  margin: 0;
}

#microVizContainer {
  display: block;
  padding: 0;
  border-bottom: 1px solid #ddd;
  height: 50vh;
}

parseError {
  display: block;
  white-space: pre-wrap;
  color: maroon;
  background: yellow;
  padding: 0 4px;
  padding: 4px;
  opacity: 1;
  max-height: 100pt;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
