.macroViz {
  white-space: nowrap;
  padding-bottom: 5px;
}

.macroViz macroViz {
  display: block;
}

.macroViz macroVizNode {
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
}

.macroViz macroVizNode.collapsed > label {
  padding: 0.5px;
  box-shadow: 1px 1px 0px hsla(0, 0%, 0%, 0.2);
}

.macroViz macroVizNode > label {
  display: block;
  color: #555;
  box-shadow: 1px 1px 0px hsl(0, 0%, 0%);
  padding: 4px;
  background: hsl(0, 0%, 90%);
  margin: 0;
  margin-left: 1px;
  margin-right: 1px;
}

.macroViz macroVizNode.error > label {
  background: HSL(352, 52%, 59%);
}

.macroViz macroVizNode[isFocusable="false"] > label {
  background: hsl(0, 0%, 97%);
}

.macroViz macroVizNode > label > text {
  display: none;
}
